<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Enter a server URL</title>
    <style type="text/css">
    body
    {
        font-family: sans-serif;
        font-size: 2rem;
    }
    input
    {
        font-family: sans-serif;
        font-size: 2rem;
    }
    </style>
  </head>
  <body>
    Enter a server IP and port:
    <form action="browser">
        <div>Host: <input type="text" name="host" /></div>
        <div>Port: <input type="number" name="port" /></div>
        <input type="submit" />
    </form>
  </body>
</html>  